@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');


:root {
  --robot:'Roboto', sans-serif;
  --black: hsl(0, 0, 0);
  --white: rgb(255, 255, 255);
  --limegreen: hsl(120, 71%, 49%);
  --real-purp: hsl(275, 62%, 55%);
  --bg-gray: hsla(280, 3%, 53%, 0.931);
  --fs-sm: 1rem;
  --fs-reg: 2rem;
  --fs-lg: 3.5rem;

  --fw-bold: 500;
  --fw-xl-bold: 600;
  --fw-light: 300;
}
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
html {
  position: relative;
}
html,
body {
  height: 100%;
}
body {
  font-family: var(--robot);
  color: var(--limegreen);
  background:var(--bg-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}
.card {
  position: fixed;
  width: 35rem;
  height: 50rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: black;
  font-size: 25px;
  text-align: center;
  border: 10px ridge var(--real-purp);
  border-radius: 8px;
  color: var(--real-purp);
}
.c-header {
  height: auto;
  margin: 2.5rem auto;
}
.pic {
  max-width: 100%;
  border-radius:50%;
  border: 8px ridge var(--limegreen);
}
.card-body {
  height: auto;
  margin: 2rem 2rem;
  font-size: 1.75rem;
  color: var(--real-purp);
}
.greeting {
  font-size: var(--fs-lg);
  margin-bottom: .75rem;
}
.btns button {
  margin-top: 2rem;
  height: 3rem;
  width: 9rem;
  border: none;
  border-radius: 1.5rem;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 1rem;
  text-transform: uppercase;
  cursor: pointer;
  color: var(--real-purp);
  background: var(--limegreen);
  transition-duration: 0.8s;
}
.btns button:hover {
  background: var(--real-purp);
  box-shadow: 0px 2px 10px 6px var(--limegreen);
  color: var(--limegreen);
}
.btns button:focus {
  background: var(--real-purp);
  box-shadow: 0px 2px 10px 5px var(--limegreen);
  color: var(--limegreen);
}
.like {
  color: var(--real-purp);
}
.likes button{
  border: none;
  margin-left: 1rem;
  margin-bottom: 1.5rem;
  background: black;
}
.fas {
  font-size: 2rem;
  color: var(--real-purp);
}
.fas:hover{
  color: var(--limegreen);
}
.count,
.fab {
  font-size: 2rem;
}
.fab {
  font-size: 2.45rem;
}
.fab {
  color: var(--white);
}
.fab:hover {
  color: var(--limegreen);
}
.fa-twitter,
.fa-github-square {
  margin-right: 1.3rem;
}
 .links >.fab:visited {
   color: var(--real-purp);
 }

/* max screen 600px */
@media screen and (max-width: 37.5rem) {
  body {
    max-width: 100%;
  }
  .card {
    max-width: 100%;
    height: auto;
  }
  .pic{
    max-width: 100%;
  }
  .fab {
    margin-bottom: 2rem;
  }
}

/* max screen 450px */
@media screen and (max-width: 28.125em) {
  .card-body {
    margin: 1.5rem 2rem;
    font-size: 1.4rem;
  }
  .pic {
    max-width: 175px;
    max-height: 175px;
  }
  .btns button{
    height: 2.5rem;
    width: 6rem;
    margin-bottom: .5rem;
    margin-right: .5rem;
    margin-left: .5rem;
  }
  .greeting {
    font-size: 2.25rem;
    margin-bottom: .75rem;
  }
  .card-body placeholder {
    font-size: 1.8rem;
    margin: 1.5rem auto;
  }
  .likes placeholder {
    font-size: 2rem;
  }
}